<main>
    <article id="news">

      <h2 class="pink">13/9/2017: COVERGIRL!</h2>
      <img src="{{ site.baseurl }}/assets/images/tony.jpg" />
      <p>(Image: TimeOut)</p>
      <p>
        Bushwig Founder HORRORCHATA Becomes Cover Girl for Time Out!  Get copy today to read all about Bushwig 2017 and how we're becoming the best festival in NYC. Join us Sept 23rd 24th for our 6th year!
      </p>
      <center>
          <a href="http://www.ticketfly.com/purchase/event/1478927" target="_blank" class="button small">BUY TICKETS</a>
      </center>

        <h2>BUSHWIG 2017 HEADLINERS ANNOUNCED!</h2>

        <p>
            We’ve brought together some of the worlds best drag, musical & DJ talent from across the world. This is only the beginning! Check back soon for Phase #2 announcements!
        </p>

              <img src="{{site.baseurl}}/assets/images/alyssa.jpg" />
              <p>(Image: Courtesy of artist)</p>

        <h2>DRAG</h2>

        <ul>
            <li>
                Alyssa Edwards
            </li>
            <li>
                THORGY THOR
            </li>
            <li>
                HORRORCHATA
            </li>
            <li>
                MERRIE CHERRY 
            </li>
            <li>Ava patron</li>
            <li>
                DITA RITZ
            </li>
            <li>
                AQUARIA
            </li>
            <li>
                UNTITLED QUEEN
            </li>
            <li>Levonia Jenkins </li>
            <li>January bones </li>
            <li>BeBe Deluxe</li>
            <li>
                Wednesday westwood
            </li>
            <li>
                Queef Latina
            </li>
            <li>
                HAMM
            </li>
            <li>
                ABHIJEET
            </li>
        </ul>

        <img src="{{site.baseurl}}/assets/images/FABRIZO.jpg" />
        <p>(Image: Fabrizio - courtesy of artist)</p>


        <h2>DJS</h2>
        <ul>
            <li>
                The Juan Maclean (DFA)
            </li>
            <li>
                FABRIZIO MAMMARELLA (SLOWMOTION, ITALY)
            </li>
            <li>
                JUSTIN CUDMORE (HONEY SOUND SYSTEM RECS)
            </li>
            <li>
                JD SAMSON (LE TIGRE)
            </li>
            <li>
                PAPI JUICE
            </li>
            <li>
                AMBER VALENTINE
            </li>
            <li>
                FIL OK (NAG NAG NAG, LONDON)
            </li>
            <li>
                JOEY QUINOÑES
            </li>
            <li>
                OCCUPY THE DISCO
            </li>
            <li>Dj Protopapa</li>
            <li>SPRKLBB</li>
                        <li>
                                          VVICKY (Berlin)
                                                      </li>
        </ul>

        <img src="{{site.baseurl}}/assets/images/cucakke.jpg" />
        <p>(Image: CupcakKe - courtesy of artist)</p>

        <h2>MUSIC</h2>
        <ul>
            <li>
                CUPCAKKE
            </li>
             <li>
                 LA' FEM DOSHA
             </li>
             <li>
                 MACY RODMAN
             </li>
             <li>
                 FELIX AND THE FUTURE
             </li>
            <li>
                THE ALLIYANCE
            </li>
            <li>BOY RADIO</li>
        </ul>

        <img src="{{ site.baseurl }}/assets/images/bunny.jpg" />
        <p>
            Image: Daniel Leinweber
        </p>

        <h2 class="pink">9/10/2017: Get Stuffed</h2>

        <p>In the mood for food? Right next to Love Downlow try our faire from local vendors serving delicious food & decadent drinkies. Highlights include Horrorchata’s own Taco Queen selling the best Taco’s this side of the East Coast. Grilling out is Bushwick’s Sandwich Lab & Bushwig wouldn’t be complete without Shaquanda's Hot Sauce!</p>
        <img src="{{ site.baseurl }}/assets/images/stuffed.jpg" />
        (Image: Logo’s various)

        <h2 class="pink">8/12 2017 TICKETS ON SALE NOW!</h2>

        <p>
            We’ve been working hard to bring you the biggest Bushwig yet.
            Join us on September 23rd & 24th for the mammoth festival of Drag, Music & Love in the WORLD! We have new areas, more music, more drag, more drinks, more food, more swag!
        </p>
        <p>
            Weekend passes are on sale now for $45 - thats over 24 hours of entertainment & day passes for $30. Buy advance tickets & save a buttload!
        </p>

        <h2 class="pink">8/11/2017: BushSwag!</h2>
        <img src="{{ site.baseurl }}/assets/images/BushSWAG.jpg" />
        <p>Credit: Cliff Moore @ EDMID</p>
        <p>
            We have an entire shopping mall at Bushwig. Some of the best vendors from across NYC & the states selling home-made wears, vintage, re-purposed clothing, trinkets, lighters, t-shirts, art, nails, wigs, shoes & official Bushwig 2017 merch! Bring cash!
        </p>
        <p>
            Visit:  https://www.bushswag.com/ for a full list of vendors & sign up information.
        </p>


    </article>

</main>
