<nav id="menu">
    <ul>
        <li>
            <a href="{{site.baseurl}}">NEWS</a>
        </li>
        <li>
            <a href="{{site.baseurl}}/line-up.html">LINE UP</a>
        </li>
        <li>
            <a href="{{site.baseurl}}/areas.html">AREAS</a>
        </li>
        <li>
            <a href="{{site.baseurl}}/info.html">INFO</a>
        </li>
        <li>
            <a href="http://www.ticketfly.com/purchase/event/1478927/tfly?utm_medium=api&utm_medium=459899" target="_blank">TICKETS</a>
        </li>
    </ul>
</nav>
