<div class="top-bar desktop-only">
  <div class="wrapper clearfix">
    <div class="social-links">
      <a href="https://www.facebook.com/BushwigNYC" target="_blank" title="This link will open in a new window."><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
      <a href="https://twitter.com/BushwigFestival" target="_blank" title="This link will open in a new window."><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
      <a href="https://www.instagram.com/bushwig/" target="_blank" title="This link will open in a new window."><i class="fa fa-instagram" aria-hidden="true"></i></a>
    </div>
    <div class="dates">
        <h1>Bushwig NYC 2017</h1>
    </div>
    <div class="buy-tickets">
        <a href="http://www.ticketfly.com/purchase/event/1478927" class="buy-tickets-link" alt="buy tickets" target="_blank" title="This link will open in a new window."></a>
    </div>
  </div>
</div>
