@import "variables"

header
    position: relative
    z-index: 2
    margin: 0 auto
    width: 747px
    height: auto
    padding-top: 60px
    background: white
    @media screen and (max-width: 747px)
        width: 100%
        padding-top: 100px
    > div
        display: block
        text-align: center
    h1
        font-family: 'Typesketchbook', sans-serif
        img
            max-height: 30px
            display: inline-block
    #logo
        width: 100%
        padding: 2.4rem 0.4rem 0 0.4rem
        margin: 0 auto
    #logo-buy
        position: absolute
        top: 90px
        right: 190px
        background: url('../images/logo-buy.png') no-repeat
        background-size: contain
        width: 100px
        height: 100px
        transition: 0.25s ease-in-out
        @media screen and (max-width: 747px)
            width: 50px
            height: 50px
            top: 125px
            right: 100px
        &:hover
            cursor: pointer
            transform: scale(1.15)
