header
    position: relative
    z-index: 2
    margin: 0 auto
    width: 60vw
    height: auto
    padding-top: 60px
    #logo
        width: 100%
        padding: 1.6rem 0.4rem
        margin: 0 auto
    #logo-buy
        position: absolute
        top: 80px
        right: 0
        background: url('../images/logo-buy.png') no-repeat
        background-size: contain
        width: 30px
        height: 100px
