@import "variables"

h1
    font-family: 'HelveticaNeue-Bold'
    letter-spacing: 2px
h2
    font-family: 'HelveticaNeue-Light'
    letter-spacing: 1px
.intro
    text-align: center
    padding: 1rem 0
    p, h1
        text-align: center
#line-up
    h1
        text-align: center
        color: $primary
        text-shadow: 0 2px 0 rgba(0, 0, 0, 0.4)
