@import "variables"

.top-bar
    position: fixed
    top: 0
    left: 50%
    z-index: 100
    margin-left: -373.5px
    height: 36px
    width: 747px
    padding: 18px 0 0
    text-align: center
    background: $primary
    .wrapper
        margin: 0 auto
        padding: 5px 17px
        width: 713px
        overflow: visible
        min-height: 100%
        position: relative
