@font-face
  font-family: 'HelveticaNeue'
  src: url('https://s3.amazonaws.com/ijadams/bushwig/HelveticaNeue.ttf') format('truetype')

@font-face
  font-family: 'HelveticaNeue-Bold'
  src: url('https://s3.amazonaws.com/ijadams/bushwig/HelveticaNeue-Bold.ttf') format('truetype')

@font-face
  font-family: 'HelveticaNeue-Light'
  src: url('https://s3.amazonaws.com/ijadams/bushwig/HelveticaNeue-Light.eot')

@font-face
  font-family: 'HelveticaNeue-CondensedBold'
  src: url('https://s3.amazonaws.com/ijadams/bushwig/HelveticaNeue-CondensedBold.ttf') format('truetype')

@font-face
  font-family: 'strange'
  src: url('https://s3.amazonaws.com/ijadams/bushwig/vnf-strangelove-text.ttf') format('truetype')

$primary: #15007C
