@import "variables"
@import "sidebars"
@import "topbar"

html
  font-size: 62.5%
  height: 100%
  box-sizing: border-box

body
    position: relative
    margin: 0
    height: 500vh
    min-height: 100%
    font-family: 'HelveticaNeue', sans-serif
    color: $primary
    background: url('https://s3.amazonaws.com/ijadams/bushwig/left_side.png') center top


    .desktop-only
        display: block
    .mobile-only
        display: none

    @media screen and (max-width: 736px)
            .desktop-only
                display: none
            .mobile-only
                display: block
