@import "variables"
@import "sidebars"
@import "topbar"
@import "header"
@import "nav"
@import "home-content"
@import "interior"

html
  font-size: 62.5%
  height: 100%
  box-sizing: border-box

body
    position: relative
    margin: 0
    height: 150vh
    font-family: 'HelveticaNeue', sans-serif
    color: $primary
    h2
        font-family: 'Typesketchbook', sans-serif
        text-transform: uppercase
    article
        padding: 0 1.6rem
        img
            width: 100%
    .button
        background: $primary
        color: white
        padding: 2rem
        display: inline-block
        margin: 2rem auto
        font-family: 'Typesketchbook', sans-serif
        transition: 0.2s ease-in-out
        &:hover
            opacity: 0.8
            text-decoration: none
    .desktop-only
        display: block
    .mobile-only
        display: none

    @media screen and (max-width: 747px)
            .desktop-only
                display: none
            .mobile-only
                display: block
