<!DOCTYPE html>
<html>
  <head>
    {% include metas.html %}

    <!--[if lt IE 9]>
      {% include olderIE.html %}
    <![endif]-->

    <!-- Styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">

    <!--[if lte IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body class="home">
    <section id="one">
    <video poster="{{ site.baseurl }}/assets/images/trim.jpg" id="bgvid" playsinline autoplay muted loop>
    <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
    <source src="{{ site.baseurl }}/assets/images/trim.mp4" type="video/mp4">
    </video>
    <div class="container">
        <h1><a href="mailto:Rossa@Bushwig.com">BUSHWIG BERLIN<br>
              SUMMER 2018<br>
              TO BE ANNOUCED!</a>
        </h1>
    </div>
    </section>
    <section id="two">
        <div class="container">
            <h1>
                <a href="https://www.facebook.com/events/170395610393487" target="_blank">SATURDAY 17TH FEBRUARY  <br>
                BUSHWIG DOES L.A.</a>
            </h1>
        </div>
    </section>
    <section id="three">
        <div class="container">
            <h1><a href="https://web.facebook.com/events/1987892094756094" target="_blank">
                MONDAY 19TH FEBRUARY<br>
                DRAG QUEENS ON ACID
            </h1>
        </div>
    </section>
    <footer>
        <h3>Bushwig® contact: <a href="mailto:info@bushwig.com">info@bushwig.com</a></h3>
    </footer>


    <script
      src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous">
    </script>



    <!-- Scripts -->
    <script src="{{ site.baseurl }}/assets/scripts/script.js"></script>
  </body>
</html>
